/* styles/globals.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --max-width: 1300px;

}

input[type="text"]::-webkit-input-placeholder {
  color: #D2D2D2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
input[type="email"]::-webkit-input-placeholder {
  color: #D2D2D2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
input[type="password"]::-webkit-input-placeholder {
  color: #D2D2D2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
